<h2>Sign up to Blocmarks</h2>

<div class="row">
    <div class="col-md-4">
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= devise_error_messages! %>

      <div class="form-group">
        <%= f.label :user_name %>
        <%= f.text_field :user_name, autofocus: true, class: 'form-control', placeholder: 'Enter the name displayed in Blocmarks' %>
      </div>

      <div class="form-group">
        <%= f.label :email %>
        <%= f.email_field :email, class: 'form-control', placeholder: 'Enter your email address' %>
      </div>

      <div class="from-group">
        <%= f.label :password %>
        <% if @minimum_password_length %>
          <em>(<%= @minimum_password_length %> characters minimum)</em>
        <% end %>
        <br />
        <%= f.password_field :password, autocomplete: "off", class: 'form-control', placeholder: 'password' %>
      </div>

      <div class="form-group">
        <%= f.label :password_confirmation %>
        <%= f.password_field :password_confirmation, autocomplete: "off", class: 'form-control', placeholder: 'confirm password' %>
      </div>

      <div class="form-group">
        <%= f.submit "Sign up", class: 'btn btn-success' %>
      </div>
    <% end %>
  </div>
</div>
<% # render "devise/shared/links" %>
