<h1><%= @topic.title %></h1>
<div class="buttons">
  <% if policy(@topic).edit? %>
    <%= link_to "Edit", edit_topic_path(@topic), class: 'btn btn-primary', title: 'Click to modify this topic' %>
  <% end %>
  <% if policy(@topic).destroy? %>
    <%= link_to "Delete", @topic, method: :delete, class: 'btn btn-danger', title: 'Click to delete this topic',
                                        data: { confirm: "Are you sure you want to delete this Topic?" } %>
  <% end %>
</div>
<br />
<div class="row">
  <div class="col-md-8">
    <% @topic.bookmarks.each do |bookmark| %>
      <div class="media">
        <div class="media-body">
          <!-- CRUD -->
          <% if policy(bookmark).show? %>
            <small><%= link_to "Show", bookmark_path(bookmark.id) %></small>
          <% end %>

          <% if policy(bookmark).edit? %>
            | <small><%= link_to "Edit", edit_bookmark_path(bookmark) %></small> |
          <% end %>
          <% if policy(bookmark).destroy? %>
            <small><%= link_to "Delete", bookmark, method: :delete, data: { confirm: "Are you sure you want to delete this bookmark?" } %></small>
          <% end %>

          <p class="<%= random_class %>">
            <%= link_to  bookmark.url do %>
              <%= bookmark.description ? excerpt(bookmark.description, ' ', radius: 20) : bookmark.url %>
            <% end %>
          </p>

          <!-- Like/Unlike -->
          <% if current_user.liked?(bookmark) %>
            <% like = current_user.likes.where(bookmark_id: bookmark).take %>
            <%= link_to bookmark_like_path(bookmark, like), method: :delete, class: 'btn btn-danger', title: "Unlike this bookmark." do %>
              <i class="glyphicon glyphicon-star-empty"> </i>&nbsp;Unlike
            <% end %>
          <% else %>
            <%= link_to bookmark_likes_path(bookmark), method: :post, class: 'btn btn-primary', title: "Like this bookmark." do %>
              <i class="glyphicon glyphicon-star"> </i>&nbsp;Like
            <% end %>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
  <div class="col-md-4">
    <%= link_to "New Bookmark", new_topic_bookmark_path(@topic), class: 'btn btn-primary' %>
  </div>
</div>
